/*------------------------------------------------------------------
File:	    mapsk.in titles font css
URL:        http://mapsk.in
Author:     Nicolas Bozon
Version:    1.0
-------------------------------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Raleway:500,400,200,300,100);

@font-face {
    font-family: 'titles';
    src:url('../fonts/titles.eot');
    src:url('../fonts/titles.eot') format('embedded-opentype'),
        url('../fonts/titles.ttf') format('truetype'),
        url('../fonts/titles.woff') format('woff'),
        url('../fonts/titles.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tt-"], [class*=" tt-"] {
    font-family: 'titles' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tt-getstarted:before {
    content: "\a001";
}
.tt-manifesto:before {
    content: "\a002";
}
.tt-getinvolved:before {
    content: "\e900";
}
.tt-license:before {
    content: "\a004";
}

